<form action="{% url 'todoapp:details' todo.pk  %}" method="post">
    {% csrf_token %}
    <input type="text" name="text" value="{{ todo.text }}">
    <input type="checkbox" name="completed" value="1" {% if todo.completed %}checked {% endif %} >
    <button type="submit">Update</button>
</form>