<h1>To Dos</h1>

<ul>
{% for todo in todos  %}
    <li>
        <a href="{% url 'todoapp:details' todo.pk %}">{{ todo.text  }}</a> -- {{ todo.completed }}
    </li>
{% endfor  %}
</ul>

<a href="{% url 'todoapp:new' %}">Create new todo</a>

<a href="{% url 'login:logout' %}">Log out</a>