<form action="{% url 'todoapp:new'  %}" method="post">
    {% csrf_token %}
    <input type="text" name="text">
    <input type="checkbox" name="completed" value="1" >
    <button type="submit">Create New Todo</button>
</form>