<h1>Login</h1>

<form action="." method="post">
    {% csrf_token %}
    <input type="text" name="user" placeholder="User Name">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>

{% if error  %}
    {{ error  }}
{% endif  %}